<%
@updated_at = File.mtime(__FILE__)
@created_at = File.ctime(__FILE__)
%>
  
<div class="inner cover  contained" style="margin-top: 5%; margin-bottom: 5%;">
  
  <h1 class="cover-heading">It's Good To Talk.</h1>
  <p class="lead">But email works too!</p>
  <p class="lead">You probably have questions. We are here to help and want to make sure you get all the answers. We are straight-talkers, no B.S., get right to the point, polite and human.</p>
  <p class="lead">We don't do "hard sell". So give us a call. <a href='tel:+16173790737'>+1.617.379.0737</a> or <a href="tel:+442081234064">+44(0)208 123 4064</a></p>
  <p class="lead">Not feeling chatty? Email us instead. <a href='mailto:info@consected.com'>info@consected.com</a></p>
  <p class="lead">
    Are you social? Follow us on Twitter. <a href="https://twitter.com/consected">@consected</a>.
  </p>
  
</div>
