<div id="index" class="section">
<%= render partial: 'index' %>
</div>
<div id="services" class="section">
<%= render partial: 'services' %>
</div>
<div id="contact" class="section">
<%= render partial: 'contact' %>
</div>