<%
@updated_at = File.mtime(__FILE__)
@created_at = File.mtime(__FILE__)
%>
<div class="inner cover first contained" >
  <h1 class="cover-heading">Feel Good About Your Business.</h1>
  <h3 class="lead">Since 2009, Consected has been helping companies and <span class="nobreak">non-profits</span> understand how processes and technology can help them work better.</h3>
  <div class="row">
    <div class="col-sm-6"><p class="full pad-in-col">If your company is like one of the many we have helped, you want to expand your customer-base, serve customers better, reduce costs and raise capital to grow. Just like them, our powerful and affordable mix of consulting and technology can help you achieve your business goals.</p></div>
    <div class="col-sm-6"><p class="full pad-in-col">Whatever stage you are at in your organization's development, we can help make your next step a solid one, a real launch pad for growth. With our expertise, you can set your business up for success, rather than worrying about all the options and risks you just can't control.</p></div>
  </div>      
  <h3 class="lead">We provide business consulting services</h3>
  <div class="oval-container on-index" >
    <ul class="nav nav-tabs" >
    <li role="presentation"><a class="click-service pad-in-col text-center oval" href="/services#pm-strategy" ><span>Product &amp; Marketing<br/>Strategy</span></a></li>    
    <li role="presentation"><a class="click-service pad-in-col text-center oval" href="/services#ops-process" ><span>Operations &amp;  Process<br/>Improvement</span></a></li>
    <li role="presentation"><a class="click-service pad-in-col text-center oval" href="/services#it-marketing"><span>Information &amp; Marketing<br/>Technology</span></a></li>
    <li role="presentation"><a class="click-service pad-in-col text-center oval" href="/services#pro-management" ><span>Project &amp; Program<br/>Management</span></a></li>
    </ul>
  </div>
</div>