<%
@updated_at = File.mtime(__FILE__)
@created_at = File.mtime(__FILE__)
%>
<div class="inner cover">
  <h1 class="cover-heading">We Had A Spring Clean.</h1>
  <p class="lead">The page you were looking for got cleared out.</p>
  <p class="lead">Check out all our newest, freshest information starting at <a href="/">our home page</a>.</p>
  <h3>Worried something is wrong? Contact us.</h3>
  <p class="lead"><a href="tel:+16175008195">+1.617.500.8195</a></p>
  <p class="lead"><a href="mailto:info@consected.com">info@consected.com</a></p>
  <p class="lead">
    <a href="https://twitter.com/consected">@consected</a>.
  </p>
</div>