html {
  overflow: auto;
  background: image-url("cover-body-mob.jpg") no-repeat center;
  background-size: cover;  
  height: auto;
  min-height: 100%;
}
body {
  background: transparent;
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.lead {font-size: 18px;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
  }

.masthead-nav > li > a {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}
  
.masthead-brand {
  font-size: 38px;
  font-weight: bold;
  color: rgb(249, 247, 232);
  font-family: Ubuntu;
  a:link {color: rgb(249, 247, 232);}
  a:hover {text-decoration: none;}
  
}

.mastfoot {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.65);
}
.inner {padding:20px; }
.cover { 
    padding:20px; 
    background: rgba(0,0,0,0.47);
    
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    
    
    a:link {text-decoration: underline;}
    a.btn:link {text-decoration: none;}
}

.full {text-align: justify;}
.pad-in-col {padding: 0 5%;}

.oval-container { 
  height: auto;
}
.oval-container > div {
    height: 100%;
}
.oval-container li a {
    border: 1px solid silver;
    border-radius: 50px;
    background: silver;
    text-shadow: none;
    padding: 8px;
    height: auto;
    min-height: 40px;
    display: block;    
    color: #333;
    font-weight: bold;
    margin: 1%;

  }

  a.oval:link {text-decoration: none;}
  a.oval:hover {background-color: #555;}


.single-column-block {
  text-align: left;
}

span.nobreak {white-space: nowrap;}

  .dark-cover {
    background: rgba(23, 47, 79, 0.87);
  }
  .light-cover {
    background: rgba(0,0,0,0.57);
  }

  ul.nav-tabs {
      border-bottom: 0; 
      display: inline-block;
  }
  
  .btn-cta {
    background-color: #c00;
    color: white;
    border: 1px solid #a00;
  }
  
  ul.nav-tabs > li {float: none; min-width: 240px; padding-bottom:10px;}

  a {
   outline: 0 !important;
  }
  
.on-index{
  ul.nav-tabs{
    width:auto;

    > li {
      width: auto;
      
      float: none;
      font-size:18px;
            
      a {border-radius:24px;}
    }
  }
}
  
/*-------------- Media -----------------*/

@media (min-width: 768px) {
  .masthead-nav > li > a {
  font-size: 24px;
      }
  html {

    background: image-url("cover-body-full.jpg") no-repeat center;
    background-size: cover;  
  }
  body {
    background: transparent;    
    font-size: 21px;
  } 
  
  .lead {font-size: 21px;}
  
  .wide .cover {  
    position: relative;
    left: 0;
    right: 0;
    padding: 20px 48px;    
    overflow: hidden;
  } 
  
  .wide .cover.first {    
        top: 55px;
    margin-bottom: 55px;
  }
  
  .oval {
    height: 100%;
  }

  ul.nav-tabs {width:620px;}
  ul.nav-tabs > li {
    min-width: 300px;
    float: left;
  }
  
  .on-index{
    ul.nav-tabs{
      width:auto;

      > li {
        width: 140px;
        min-width: 140px;
        float: left;
        font-size:18px;

        a {border-radius:24px;}
      }
    }
  }
}


@media (min-width: 992px) {
    .contained {
        max-width: 800px;
      margin: 0 auto;
    }
 
      
}

@media (min-width: 1024px) {
   ul.nav-tabs {width:980px;}  
  ul.nav-tabs > li {
    float: left;
    min-width: 240px;
  }
}