<div id="share_consected" class="social-buttons"> 
  <div style="display:inline-block; position: relative; top: 6px; left: 28px; margin-right: 0px;">
    <div class="g-plusone" data-count="true"></div>
  </div>
  <div style="display:inline-block; position: relative; top: 4px; margin-right: 15px;">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="consected" data-lang="en" data-count="none">Tweet</a>
    <script>
      setTimeout(function() {
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      },1);
      </script>
  </div>
  <div style="display:inline-block; position: relative; top: 4px; margin-right: 15px;">
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
      lang: en_US
    </script>
    <script type="IN/Share" data-url="https://www.consected.com"></script>
  </div>
  <div style="display:inline-block; position: relative; margin-left: 14px;" >
  <a href="/privacy" class="small">privacy&nbsp;policy</a>
  </div>
  <div style="display:inline-block; position: relative; margin-left: 14px;" >
  <a href="/open_source" class="small">open&nbsp;source&nbsp;projects</a>
  </div>
</div>